

<br />
<br />
<fieldset>
    <div class="form-horizontal">
        <div class="editor-label">
            Name
        </div>
        <div class="editor-label">
            <input type="text" id="txtName" />
        </div>

        <div class="editor-label">
            Address
        </div>
        <div class="editor-label">
            <input type="text" id="txtAddress" />
        </div>

        <div class="editor-label">
            City
        </div>
        <div class="editor-label">
            <select id="txtCity">
                <option value="nagpur">nagpur</option>
                <option value="mumbai">mumbai</option>
            </select>
        </div>
        <div class="editor-label">
            <br />
            <input class="btn-default" type="button" id="btnSave" value="Save" />&nbsp;&nbsp;
            <input class="btn-default" type="button" id="btnUpdate" value="Update" />

        </div>
    </div>
</fieldset>
